.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid rgb(119, 202, 91);
}

.form {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.formInput>input {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.form>button {
    margin-top: 10px;
    background-color: rgb(119, 202, 91);
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}




/* Todo list style */
.todoContainer {
    padding: 10px;
}

.todoContainer>li {
    border: 3px solid rgb(119, 202, 91);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    max-width: 472px;
    overflow: hidden;
    word-wrap: break-word;
}

.todoContainer span {
    padding: 10px;
}

.todoHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(119, 202, 91);
}

.todoContainer button {
    background-color: rgb(250, 195, 113);
    width: 2.5rem;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: rgb(124, 67, 67);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}